[client]
default-character-set = utf8mb4

[mysql]
default-character-set = utf8mb4

[mysqld]


# 优化 InnoDB 性能
innodb_buffer_pool_size = 512M
innodb_redo_log_capacity = 268435456 # 替换 innodb_log_file_size innodb_flush_log_at_trx_commit = 2 innodb_file_per_table = 1


# 增加最大连接数
max_connections = 200

# 支持 UTF-8 编码（兼容中文等）
character-set-server = utf8mb4
collation-server = utf8mb4_unicode_ci


# 超时设置
wait_timeout = 28800
interactive_timeout = 28800

# 日志设置
general_log = 0
slow_query_log = 1
slow_query_log_file = /var/log/mysql/slow.log
long_query_time = 2
